.credit-health-meter-container {
    width: 200px;
    height: 200px;
}

.credit-health-meter-svg {
    width: 100%;
    height: 100%;
}

.credit-health-meter-text {
    font-size: 20px;
    font-weight: 700;
    fill: #1D3557;
}
