.glitch {
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #B00020;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #0D9488;
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% {
    clip-path: inset(45% 0 50% 0);
  }
  20% {
    clip-path: inset(5% 0 80% 0);
  }
  40% {
    clip-path: inset(70% 0 10% 0);
  }
  60% {
    clip-path: inset(90% 0 5% 0);
  }
  80% {
    clip-path: inset(40% 0 45% 0);
  }
  100% {
    clip-path: inset(60% 0 30% 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip-path: inset(10% 0 85% 0);
  }
  20% {
    clip-path: inset(90% 0 5% 0);
  }
  40% {
    clip-path: inset(40% 0 45% 0);
  }
  60% {
    clip-path: inset(20% 0 70% 0);
  }
  80% {
    clip-path: inset(80% 0 10% 0);
  }
  100% {
    clip-path: inset(5% 0 90% 0);
  }
}